/* CSS Document */

/*头部*/
body {
    margin: 0px;
    padding: 0px;
}

.zhongti {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0px;
    background-size: 100% 100%;
}

.v2 {
    width: 100%;
    height: 50px;
    background: #009fe8;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    background-size: 100% 100%;
    overflow: hidden;
    letter-spacing: 4px;
}

.v2-1 {
    width: 24px;
    height: 50px;
    background: #FF0000;
    margin-left: 18px;
    padding: 0px;
    float: left;
    background: transparent url(../personalCenter/icon.png) no-repeat scroll 0px -335px;
}

.v2-3 {
    width: 24px;
    height: 50px;
    background: #FF0000;
    margin-right: 22px;
    padding: 0px;
    float: right;
    background: transparent url(../personalCenter/icon.png) no-repeat scroll 0px -382px;
}

/*头部隐藏菜单栏*/
.top-dh {
    width: 100%;
    height: 58px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.top-dh-1 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-1-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px 5px;
}

.top-dh-2 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-2-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -76px;
}

.top-dh-3 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-3-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -156px;
}

.top-dh-4 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-4-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -240px;
}

.too1 {
    width: 42px;
    height: 50px;
}

/*底线*/
.dx {
    width: 100%;
    clear: left;
    border-bottom: 1px solid #AAAAAA;
}

/*购物结算*/
.gwjs {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #AAAAAA; /*background:#FFCCFF;*/
}

.gwjs-1 {
    width: 100%;
    height: 110px;
    overflow: hidden;
}

.gwjs-1-1 {
    width: 20px;
    height: 60px;
    text-align: center;
    float: left;
    padding-top: 50px;
    overflow: hidden; /*background:#FFFF00;*/
}

.chen1 {
    margin: 0px auto;
}

.gwjs-1-2 {
    width: 90px;
    height: 110px;
    float: left;
    overflow: hidden; /*background:#0099FF;*/
}

.gwjs-1-2-1 {
    width: 70px;
    height: 90px;
    margin: 0 auto;
    margin-top: 10px; /*background:#00CC66;*/
    border: 1px solid #AAAAAA;
}

.gwjs-1-3 {
    width: 56.8%;
    height: 110px;
    float: left;
    overflow: hidden; /*background:#99CCFF;*/
}

.gwjs-1-3-1 {
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #666;
    text-align: left; /*background:#00CC00;*/
}

.gwjs-1-3-2 {
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #666;
    text-align: left; /*background:#99CC66;*/
}

.gwjs-1-3-3 {
    width: 100%;
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #666;
    text-align: left; /*background:#00CC00;*/
}

.gwjs-1-3-4 {
    width: 100%;
    height: 29px;
    line-height: 29px;
    font-size: 14px;
    color: #666;
    text-align: left; /*background:#99CC66;*/
}

.in1 {
    width: 50px;
    text-align: center;
}

.gwjs-1-4 {
    width: 28px;
    height: 110px;
    line-height: 110px;
    float: right; /*background:#999966;*/
}

.but1 {
    width: 20px;
    height: 28px;
    margin-top: 41px;
    border: 0px;
    cursor: pointer;
    background: url(../../../images/mobilephone/Apublic/ljt.png) no-repeat; /*background:#993399;*/
}

/*总结算*/
.jies {
    width: 100%;
    height: 40px; /*background:#99CCFF;*/
}

.jies-l {
    float: left;
    width: 80%;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333; /*background:#FFFF99;*/
}

.jies-l-1 {
    width: 48px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: left; /*background:#33CC99;*/
}

.jies-l-1-q {
    width: 34px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    color: #333;
    text-align: left;
    float: left;
}

.jies-l-1-g {
    width: 14px;
    height: 40px;
    text-align: left;
    float: left;
    padding: 0px;
    margin-top: 15px;
}

.chen {
    margin: 0px;
}

.jies-l-2 {
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: left;
    margin-left: 8px; /*background:#99CCFF;*/
}

.jies-r {
    float: left;
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #EB6100;
}

.jies-r a {
    font-size: 14px;
    color: #FFFFFF;
    text-decoration: none;
}

.jies-r a:hover {
    font-size: 16px;
    color: #009fe8;
}

/*分割线*/
.cfgx {
    width: 100%;
    height: 20px;
    background: #E2E2E2;
    border-bottom: 1px solid #AAAAAA;
    border-top: 1px solid #AAAAAA;
}

/*登陆/注册*/
.dlzc {
    width: auto;
    height: 20px;
    margin: 40px 22px 10px 22px;
    line-height: 20px;
    text-align: left;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    letter-spacing: 2px; /*background:#999966;*/
}

.dlzc-1 {
    width: 150px;
    height: 20px;
    margin: 0 auto;
}

.dlzc-1-1 {
    width: 75px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.dlzc-1-1 a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.dlzc-1-1 a:hover {
    font-size: 14px;
    color: #eb6100;
    text-decoration: none;
}

.dlzc-1-2 {
    width: 75px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    float: left;
}

.dlzc-1-2 a {
    font-size: 14px;
    color: #333;
    text-decoration: none;
}

.dlzc-1-2 a:hover {
    font-size: 14px;
    color: #009fe8;
    text-decoration: none;
}

/*底部*/
.dib {
    width: auto;
    height: 150px;
    padding: 14px 22px 0px 22px;
    background: #F4F4F4;
}

.tuic {
    width: auto;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #EB6100;
    margin-bottom: 44px;
    overflow: hidden;
    letter-spacing: 8px;
}

.tuic a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.tuic a:hover {
    color: #009fe8;
}

.wz {
    width: auto;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    background: #E2E2E2;
    overflow: hidden;
}