<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.AnnexMapper">
    <resultMap id="BaseResultMap" type="com.juhuawang.model.Annex">
        <id column="ID" property="id" jdbcType="DECIMAL"/>
        <result column="GUESTID" property="guestid" jdbcType="DECIMAL"/>
        <result column="ANNEXCODE" property="annexcode" jdbcType="VARCHAR"/>
        <result column="CHARTERURL" property="charterurl" jdbcType="VARCHAR"/>
        <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL"/>
        <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR"/>
        <result column="MEMO" property="memo" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, GUESTID, ANNEXCODE, CHARTERURL, OPERATIONID, OPERATIONIP, CREATETIME, STATUSCODE, 
    MEMO
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from REC_ANNEX
        where ID = #{id,jdbcType=DECIMAL}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from REC_ANNEX
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
    <insert id="insert" parameterType="com.juhuawang.model.Annex">
    insert into REC_ANNEX (ID, GUESTID, ANNEXCODE, 
      CHARTERURL, OPERATIONID, OPERATIONIP, 
      CREATETIME, STATUSCODE, MEMO
      )
    values (#{id,jdbcType=DECIMAL}, #{guestid,jdbcType=DECIMAL}, #{annexcode,jdbcType=VARCHAR}, 
      #{charterurl,jdbcType=VARCHAR}, #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{statuscode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.juhuawang.model.Annex">
        insert into REC_ANNEX
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="guestid != null">
                GUESTID,
            </if>
            <if test="annexcode != null">
                ANNEXCODE,
            </if>
            <if test="charterurl != null">
                CHARTERURL,
            </if>
            <if test="operationid != null">
                OPERATIONID,
            </if>
            <if test="operationip != null">
                OPERATIONIP,
            </if>
            <if test="createtime != null">
                CREATETIME,
            </if>
            <if test="statuscode != null">
                STATUSCODE,
            </if>
            <if test="memo != null">
                MEMO,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=DECIMAL},
            </if>
            <if test="guestid != null">
                #{guestid,jdbcType=DECIMAL},
            </if>
            <if test="annexcode != null">
                #{annexcode,jdbcType=VARCHAR},
            </if>
            <if test="charterurl != null">
                #{charterurl,jdbcType=VARCHAR},
            </if>
            <if test="operationid != null">
                #{operationid,jdbcType=DECIMAL},
            </if>
            <if test="operationip != null">
                #{operationip,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="statuscode != null">
                #{statuscode,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                #{memo,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.Annex">
        update REC_ANNEX
        <set>
            <if test="guestid != null">
                GUESTID = #{guestid,jdbcType=DECIMAL},
            </if>
            <if test="annexcode != null">
                ANNEXCODE = #{annexcode,jdbcType=VARCHAR},
            </if>
            <if test="charterurl != null">
                CHARTERURL = #{charterurl,jdbcType=VARCHAR},
            </if>
            <if test="operationid != null">
                OPERATIONID = #{operationid,jdbcType=DECIMAL},
            </if>
            <if test="operationip != null">
                OPERATIONIP = #{operationip,jdbcType=VARCHAR},
            </if>
            <if test="createtime != null">
                CREATETIME = #{createtime,jdbcType=TIMESTAMP},
            </if>
            <if test="statuscode != null">
                STATUSCODE = #{statuscode,jdbcType=VARCHAR},
            </if>
            <if test="memo != null">
                MEMO = #{memo,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=DECIMAL}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.Annex">
    update REC_ANNEX
    set GUESTID = #{guestid,jdbcType=DECIMAL},
      ANNEXCODE = #{annexcode,jdbcType=VARCHAR},
      CHARTERURL = #{charterurl,jdbcType=VARCHAR},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

    <!--  ORACLE批量增加三证信息-->
    <insert id="addBatchAnnex" parameterType="List">
        insert into REC_ANNEX (id,guestId,annexCode,charterurl)
        select seq_rec_annex.nextval ,A.* from (
        <foreach collection="list" item="item" index="index"
                 separator="union all">
            (select #{item.guestid}, #{item.annexcode}, #{item.charterurl} from dual)
        </foreach>) A
    </insert>

    <!-- 查看三证是否上传和状态-->
    <select id="getAnnexByguestId" parameterType="long" resultType="map">
        select * from REC_ANNEX where guestId=#{guestId}
    </select>

    <!-- 查看三证是否上传成功 -->
    <select id="getSuccessAnnexByguestId" parameterType="long" resultType="map">
        select * from REC_ANNEX where guestId=#{guestId} and AFFIRMREGCODE='003'
    </select>

    <!-- 查看三证是否审核通过成功 -->
    <select id="getAuditSuccessAnnexByguestId" parameterType="long" resultType="map">
     select id  from rec_frontuser where id=#{guestId} and affirmregcode='003'
    </select>

    <!-- 我的聚化信息展示 -->
    <select id="getUserCenter" parameterType="long" resultType="map">
       SELECT C.NAME AS COMPAYNAME,F.PHONE,F.EMAIL,F.NAME AS USERNAME,F.MOBPHONE,C.ADDRESS ,C.LINKMAN    FROM REC_FRONTUSER  F
      LEFT JOIN  REC_COMPANY C ON F.COMPANYID = C.ID  WHERE F.ID=#{guestId}
    </select>

    <!-- 基本资料信息展示-->
    <select id="getBasicInformation" parameterType="long" resultType="map">
    SELECT f.login, f.email,f.name as username,f.mobphone,c.name as companyname,c.phone,c.address FROM REC_FRONTUSER  F
    LEFT JOIN  REC_COMPANY C ON F.COMPANYID = C.ID  WHERE F.ID=#{userId}
    </select>

</mapper>