<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.DicTypeMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.DicType" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="ENG" property="eng" jdbcType="VARCHAR" />
    <result column="ORD" property="ord" jdbcType="DECIMAL" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, ENG, ORD, OPERATIONID, OPERATIONIP, CREATETIME, STATUSCODE, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from DIC_DICTYPE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from DIC_DICTYPE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.DicType" >
    insert into DIC_DICTYPE (ID, NAME, ENG, 
      ORD, OPERATIONID, OPERATIONIP, 
      CREATETIME, STATUSCODE, MEMO
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{eng,jdbcType=VARCHAR}, 
      #{ord,jdbcType=DECIMAL}, #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{statuscode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.juhuawang.model.DicType" >
    insert into DIC_DICTYPE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="eng != null" >
        ENG,
      </if>
      <if test="ord != null" >
        ORD,
      </if>
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="statuscode != null" >
        STATUSCODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="eng != null" >
        #{eng,jdbcType=VARCHAR},
      </if>
      <if test="ord != null" >
        #{ord,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.DicType" >
    update DIC_DICTYPE
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="eng != null" >
        ENG = #{eng,jdbcType=VARCHAR},
      </if>
      <if test="ord != null" >
        ORD = #{ord,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.DicType" >
    update DIC_DICTYPE
    set NAME = #{name,jdbcType=VARCHAR},
      ENG = #{eng,jdbcType=VARCHAR},
      ORD = #{ord,jdbcType=DECIMAL},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>