<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.FindGoodMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.FindGood" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="LINKMAN" property="linkman" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="SUP" property="sup" jdbcType="VARCHAR" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="DEALCODE" property="dealcode" jdbcType="VARCHAR" />
    <result column="BEGINTIME" property="begintime" jdbcType="TIMESTAMP" />
    <result column="ENDTIME" property="endtime" jdbcType="TIMESTAMP" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TITLE, CONTENT, LINKMAN, PHONE, SUP, OPERATIONID, OPERATIONIP, DEALCODE, BEGINTIME, 
    ENDTIME, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REC_FINDGOOD
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REC_FINDGOOD
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.FindGood" >
    insert into REC_FINDGOOD (ID, TITLE, CONTENT, 
      LINKMAN, PHONE, SUP, 
      OPERATIONID, OPERATIONIP, DEALCODE, 
      BEGINTIME, ENDTIME, MEMO
      )
    values (#{id,jdbcType=DECIMAL}, #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{linkman,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sup,jdbcType=VARCHAR}, 
      #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, #{dealcode,jdbcType=VARCHAR}, 
      #{begintime,jdbcType=TIMESTAMP}, #{endtime,jdbcType=TIMESTAMP}, #{memo,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.juhuawang.model.FindGood" >
    insert into REC_FINDGOOD
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="title != null" >
        TITLE,
      </if>
        CONTENT,
      <if test="linkman != null" >
        LINKMAN,
      </if>
        PHONE,
      <if test="sup != null" >
        SUP,
      </if>
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="dealcode != null" >
        DEALCODE,
      </if>
      <if test="begintime != null" >
        BEGINTIME,
      </if>
      <if test="endtime != null" >
        ENDTIME,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
       SEQ_REC_FINDGOOD.NEXTVAL,
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
        #{content,jdbcType=VARCHAR},
      <if test="linkman != null" >
        #{linkman,jdbcType=VARCHAR},
      </if>
        #{phone,jdbcType=VARCHAR},
      <if test="sup != null" >
        #{sup,jdbcType=VARCHAR},
      </if>
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="dealcode != null" >
        #{dealcode,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null" >
        #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.FindGood" >
    update REC_FINDGOOD
    <set >
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="linkman != null" >
        LINKMAN = #{linkman,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sup != null" >
        SUP = #{sup,jdbcType=VARCHAR},
      </if>
      <if test="operationid != null" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="dealcode != null" >
        DEALCODE = #{dealcode,jdbcType=VARCHAR},
      </if>
      <if test="begintime != null" >
        BEGINTIME = #{begintime,jdbcType=TIMESTAMP},
      </if>
      <if test="endtime != null" >
        ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.FindGood" >
    update REC_FINDGOOD
    set TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      LINKMAN = #{linkman,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      SUP = #{sup,jdbcType=VARCHAR},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      DEALCODE = #{dealcode,jdbcType=VARCHAR},
      BEGINTIME = #{begintime,jdbcType=TIMESTAMP},
      ENDTIME = #{endtime,jdbcType=TIMESTAMP},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>