<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.FrontUserMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.FrontUser" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="COMPANYID" property="companyId" jdbcType="DECIMAL" />
    <result column="LOGIN" property="login" jdbcType="VARCHAR" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="GUESTCODE" property="guestcode" jdbcType="VARCHAR" />
    <result column="UNITNO" property="unitno" jdbcType="VARCHAR" />
    <result column="COMPANY" property="company" jdbcType="VARCHAR" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="CODENO" property="codeno" jdbcType="VARCHAR" />
    <result column="PHONE" property="phone" jdbcType="VARCHAR" />
    <result column="MOBPHONE" property="mobphone" jdbcType="CHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="ADDRESS" property="address" jdbcType="VARCHAR" />
    <result column="AFFIRMREGCODE" property="affirmregcode" jdbcType="VARCHAR" />
    <result column="BACKUSERID" property="backuserid" jdbcType="DECIMAL" />
    <result column="AGENTID" property="agentid" jdbcType="DECIMAL" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, COMPANYID, LOGIN, PASSWORD, GUESTCODE, UNITNO, COMPANY, NAME, CODENO, PHONE, MOBPHONE, 
    EMAIL, ADDRESS, AFFIRMREGCODE, BACKUSERID, AGENTID, OPERATIONID, OPERATIONIP, CREATETIME, 
    STATUSCODE, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REC_FRONTUSER
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REC_FRONTUSER
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.FrontUser" >
    insert into REC_FRONTUSER (ID, COMPANYID, LOGIN, 
      PASSWORD, GUESTCODE, UNITNO, 
      COMPANY, NAME, CODENO, 
      PHONE, MOBPHONE, EMAIL, 
      ADDRESS, AFFIRMREGCODE, BACKUSERID, 
      AGENTID, OPERATIONID, OPERATIONIP, 
      CREATETIME, STATUSCODE, MEMO
      )
    values (seq_rec_frontUser.nextval, #{companyId,jdbcType=DECIMAL}, #{login,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR}, #{guestcode,jdbcType=VARCHAR}, #{unitno,jdbcType=VARCHAR}, 
      #{company,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{codeno,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{mobphone,jdbcType=CHAR}, #{email,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{affirmregcode,jdbcType=VARCHAR}, #{backuserid,jdbcType=DECIMAL}, 
      #{agentid,jdbcType=DECIMAL}, #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{statuscode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.juhuawang.model.FrontUser" >
    insert into REC_FRONTUSER
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="companyId != 0" >
        COMPANYID,
      </if>
      <if test="login != null" >
        LOGIN,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="guestcode != null" >
        GUESTCODE,
      </if>
      <if test="unitno != null" >
        UNITNO,
      </if>
      <if test="company != null" >
        COMPANY,
      </if>
      <if test="name != null" >
        NAME,
      </if>
      <if test="codeno != null" >
        CODENO,
      </if>
      <if test="phone != null" >
        PHONE,
      </if>
      <if test="mobphone != null" >
        MOBPHONE,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="address != null" >
        ADDRESS,
      </if>
      <if test="affirmregcode != null" >
        AFFIRMREGCODE,
      </if>
      <if test="backuserid != null" >
        BACKUSERID,
      </if>
      <if test="agentid != null" >
        AGENTID,
      </if>
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="statuscode != null" >
        STATUSCODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
        seq_rec_frontUser.nextval,
      <if test="companyId != 0" >
        #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="login != null" >
        #{login,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="guestcode != null" >
        #{guestcode,jdbcType=VARCHAR},
      </if>
      <if test="unitno != null" >
        #{unitno,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        #{company,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="codeno != null" >
        #{codeno,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobphone != null" >
        #{mobphone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="affirmregcode != null" >
        #{affirmregcode,jdbcType=VARCHAR},
      </if>
      <if test="backuserid != null" >
        #{backuserid,jdbcType=DECIMAL},
      </if>
      <if test="agentid != null" >
        #{agentid,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.FrontUser" >
    update REC_FRONTUSER
    <set >
      <if test="companyId != 0" >
        COMPANYID = #{companyId,jdbcType=DECIMAL},
      </if>
      <if test="login != null" >
        LOGIN = #{login,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="guestcode != null" >
        GUESTCODE = #{guestcode,jdbcType=VARCHAR},
      </if>
      <if test="unitno != 0" >
        UNITNO = #{unitno,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        COMPANY = #{company,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="codeno != null" >
        CODENO = #{codeno,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        PHONE = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mobphone != null" >
        MOBPHONE = #{mobphone,jdbcType=CHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="affirmregcode != null" >
        AFFIRMREGCODE = #{affirmregcode,jdbcType=VARCHAR},
      </if>
      <if test="backuserid != 0" >
        BACKUSERID = #{backuserid,jdbcType=DECIMAL},
      </if>
      <if test="agentid != null" >
        AGENTID = #{agentid,jdbcType=DECIMAL},
      </if>
      <if test="operationid != 0" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.FrontUser" >
    update REC_FRONTUSER
    set COMPANYID = #{companyId,jdbcType=DECIMAL},
      LOGIN = #{login,jdbcType=VARCHAR},
      PASSWORD = #{password,jdbcType=VARCHAR},
      GUESTCODE = #{guestcode,jdbcType=VARCHAR},
      UNITNO = #{unitno,jdbcType=VARCHAR},
      COMPANY = #{company,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      CODENO = #{codeno,jdbcType=VARCHAR},
      PHONE = #{phone,jdbcType=VARCHAR},
      MOBPHONE = #{mobphone,jdbcType=CHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      ADDRESS = #{address,jdbcType=VARCHAR},
      AFFIRMREGCODE = #{affirmregcode,jdbcType=VARCHAR},
      BACKUSERID = #{backuserid,jdbcType=DECIMAL},
      AGENTID = #{agentid,jdbcType=DECIMAL},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectByUserNameAndPwd" resultType="Integer" parameterType="java.lang.String">
    select count(*) from REC_FRONTUSER where login=#{0} and password=#{1}
  </select>

  <select id="getByUserName" resultType="FrontUser" parameterType="java.lang.String">
    select * from REC_FRONTUSER where login=#{0}
  </select>

  <select id="getByUserNameAndPwd" resultType="FrontUser" parameterType="java.lang.String">
    select * from REC_FRONTUSER where login=#{0} and password=#{1}
  </select>
</mapper>