<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.GoodApplyOrderStockMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.GoodApplyOrderStock" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="GOODAPPLYID" property="goodapplyid" jdbcType="DECIMAL" />
    <result column="ORDERSTOCKID" property="orderstockid" jdbcType="DECIMAL" />
    <result column="STOCKID" property="stockid" jdbcType="DECIMAL" />
    <result column="ADDRESSID" property="addressid" jdbcType="DECIMAL" />
    <result column="PRICEKEEP" property="pricekeep" jdbcType="DECIMAL" />
    <result column="PRICELOAD" property="priceload" jdbcType="DECIMAL" />
    <result column="FAREID" property="fareid" jdbcType="DECIMAL" />
    <result column="FARE" property="fare" jdbcType="DECIMAL" />
    <result column="PICKCODE" property="pickcode" jdbcType="VARCHAR" />
    <result column="NUM" property="num" jdbcType="DECIMAL" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, GOODAPPLYID, ORDERSTOCKID, STOCKID, ADDRESSID, PRICEKEEP, PRICELOAD, FAREID, 
    FARE, PICKCODE, NUM, OPERATIONID, OPERATIONIP, CREATETIME, STATUSCODE, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REC_GOODAPPLY_ORDERSTOCK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REC_GOODAPPLY_ORDERSTOCK
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.GoodApplyOrderStock" >
    insert into REC_GOODAPPLY_ORDERSTOCK (ID, GOODAPPLYID, ORDERSTOCKID, 
      STOCKID, ADDRESSID, PRICEKEEP, 
      PRICELOAD, FAREID, FARE, 
      PICKCODE, NUM, OPERATIONID, 
      OPERATIONIP, CREATETIME, STATUSCODE, 
      MEMO)
    values (#{id,jdbcType=DECIMAL}, #{goodapplyid,jdbcType=DECIMAL}, #{orderstockid,jdbcType=DECIMAL}, 
      #{stockid,jdbcType=DECIMAL}, #{addressid,jdbcType=DECIMAL}, #{pricekeep,jdbcType=DECIMAL}, 
      #{priceload,jdbcType=DECIMAL}, #{fareid,jdbcType=DECIMAL}, #{fare,jdbcType=DECIMAL}, 
      #{pickcode,jdbcType=VARCHAR}, #{num,jdbcType=DECIMAL}, #{operationid,jdbcType=DECIMAL}, 
      #{operationip,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, #{statuscode,jdbcType=VARCHAR}, 
      #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juhuawang.model.GoodApplyOrderStock" >
    insert into REC_GOODAPPLY_ORDERSTOCK
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="goodapplyid != null" >
        GOODAPPLYID,
      </if>
      <if test="orderstockid != null" >
        ORDERSTOCKID,
      </if>
      <if test="stockid != null" >
        STOCKID,
      </if>
      <if test="addressid != null" >
        ADDRESSID,
      </if>
      <if test="pricekeep != null" >
        PRICEKEEP,
      </if>
      <if test="priceload != null" >
        PRICELOAD,
      </if>
      <if test="fareid != null" >
        FAREID,
      </if>
      <if test="fare != null" >
        FARE,
      </if>
      <if test="pickcode != null" >
        PICKCODE,
      </if>
      <if test="num != null" >
        NUM,
      </if>
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="statuscode != null" >
        STATUSCODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="goodapplyid != null" >
        #{goodapplyid,jdbcType=DECIMAL},
      </if>
      <if test="orderstockid != null" >
        #{orderstockid,jdbcType=DECIMAL},
      </if>
      <if test="stockid != null" >
        #{stockid,jdbcType=DECIMAL},
      </if>
      <if test="addressid != null" >
        #{addressid,jdbcType=DECIMAL},
      </if>
      <if test="pricekeep != null" >
        #{pricekeep,jdbcType=DECIMAL},
      </if>
      <if test="priceload != null" >
        #{priceload,jdbcType=DECIMAL},
      </if>
      <if test="fareid != null" >
        #{fareid,jdbcType=DECIMAL},
      </if>
      <if test="fare != null" >
        #{fare,jdbcType=DECIMAL},
      </if>
      <if test="pickcode != null" >
        #{pickcode,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.GoodApplyOrderStock" >
    update REC_GOODAPPLY_ORDERSTOCK
    <set >
      <if test="goodapplyid != null" >
        GOODAPPLYID = #{goodapplyid,jdbcType=DECIMAL},
      </if>
      <if test="orderstockid != null" >
        ORDERSTOCKID = #{orderstockid,jdbcType=DECIMAL},
      </if>
      <if test="stockid != null" >
        STOCKID = #{stockid,jdbcType=DECIMAL},
      </if>
      <if test="addressid != null" >
        ADDRESSID = #{addressid,jdbcType=DECIMAL},
      </if>
      <if test="pricekeep != null" >
        PRICEKEEP = #{pricekeep,jdbcType=DECIMAL},
      </if>
      <if test="priceload != null" >
        PRICELOAD = #{priceload,jdbcType=DECIMAL},
      </if>
      <if test="fareid != null" >
        FAREID = #{fareid,jdbcType=DECIMAL},
      </if>
      <if test="fare != null" >
        FARE = #{fare,jdbcType=DECIMAL},
      </if>
      <if test="pickcode != null" >
        PICKCODE = #{pickcode,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        NUM = #{num,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.GoodApplyOrderStock" >
    update REC_GOODAPPLY_ORDERSTOCK
    set GOODAPPLYID = #{goodapplyid,jdbcType=DECIMAL},
      ORDERSTOCKID = #{orderstockid,jdbcType=DECIMAL},
      STOCKID = #{stockid,jdbcType=DECIMAL},
      ADDRESSID = #{addressid,jdbcType=DECIMAL},
      PRICEKEEP = #{pricekeep,jdbcType=DECIMAL},
      PRICELOAD = #{priceload,jdbcType=DECIMAL},
      FAREID = #{fareid,jdbcType=DECIMAL},
      FARE = #{fare,jdbcType=DECIMAL},
      PICKCODE = #{pickcode,jdbcType=VARCHAR},
      NUM = #{num,jdbcType=DECIMAL},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>