<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.OrderStockMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.OrderStock" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="STOCKID" property="stockid" jdbcType="DECIMAL" />
    <result column="ORDERID" property="orderid" jdbcType="DECIMAL" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, STOCKID, ORDERID, OPERATIONID, OPERATIONIP, CREATETIME, STATUSCODE, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REC_ORDER_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REC_ORDER_STOCK
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.OrderStock" >
    insert into REC_ORDER_STOCK (ID, STOCKID, ORDERID, 
      OPERATIONID, OPERATIONIP, CREATETIME, 
      STATUSCODE, MEMO)
    values (#{id,jdbcType=DECIMAL}, #{stockid,jdbcType=DECIMAL}, #{orderid,jdbcType=DECIMAL}, 
      #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{statuscode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR})
  </insert>

  <insert id="insertSelective" parameterType="com.juhuawang.model.OrderStock" >
    insert into REC_ORDER_STOCK
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
        STOCKID,
        ORDERID,
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="statuscode != null" >
        STATUSCODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      seq_rec_order_stock.nextval,
        #{stockid,jdbcType=DECIMAL},
        #{orderid,jdbcType=DECIMAL},
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.OrderStock" >
    update REC_ORDER_STOCK
    <set >
      <if test="stockid != null" >
        STOCKID = #{stockid,jdbcType=DECIMAL},
      </if>
      <if test="orderid != null" >
        ORDERID = #{orderid,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.OrderStock" >
    update REC_ORDER_STOCK
    set STOCKID = #{stockid,jdbcType=DECIMAL},
      ORDERID = #{orderid,jdbcType=DECIMAL},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>