<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.RegionMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.Region" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="NAME" property="name" jdbcType="VARCHAR" />
    <result column="PID" property="pid" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, NAME, PID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from DIC_REGION
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from DIC_REGION
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.Region" >
    insert into DIC_REGION (ID, NAME, PID
      )
    values (#{id,jdbcType=DECIMAL}, #{name,jdbcType=VARCHAR}, #{pid,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.juhuawang.model.Region" >
    insert into DIC_REGION
    <trim prefix="(" suffix=")" suffixOverrides="," >
        ID,
      <if test="name != null" >
        NAME,
      </if>
      <if test="pid != null" >
        PID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      seq_dic_Region.nextval,
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.Region" >
    update DIC_REGION
    <set >
      <if test="name != null" >
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        PID = #{pid,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.Region" >
    update DIC_REGION
    set NAME = #{name,jdbcType=VARCHAR},
      PID = #{pid,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>



    <!--  地址管理省市信息获取-->
    <select id="getProvinces" resultType="map">
   select id,name from DIC_REGION  where pid=0
  </select>

    <!--  地址管理省市的下级城市的信息获取-->
    <select id="getCitysByProvince" parameterType="long" resultType="map">
    select id,name from DIC_REGION  where pid=#{provinceId}
  </select>


    <!--  地址管理城市下级的区县的信息获取-->
    <select id="getDistrictsByCity" parameterType="long" resultType="map">
        select id,name from DIC_REGION  where pid=#{cityId}
    </select>


  <select id="getAllProvinces" resultType="Map">
    SELECT * from DIC_REGION WHERE PID=0
  </select>
  <select id="getCitysByPid" resultType="Map" parameterType="java.lang.Long">
    SELECT * from DIC_REGION WHERE PID=#{0}
  </select>
  <select id="getCountysByPid" resultType="Map" parameterType="java.lang.Long">
    SELECT * from DIC_REGION WHERE PID=#{0}
  </select>
</mapper>