<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.juhuawang.dao.interfaces.VirtualAccountMapper" >
  <resultMap id="BaseResultMap" type="com.juhuawang.model.VirtualAccount" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="BANKCODE" property="bankcode" jdbcType="VARCHAR" />
    <result column="COMPANYID" property="companyid" jdbcType="DECIMAL" />
    <result column="ACCOUNTCODE" property="accountcode" jdbcType="VARCHAR" />
    <result column="VIRTUALACCOUNT" property="virtualaccount" jdbcType="VARCHAR" />
    <result column="TOTALMONEY" property="totalmoney" jdbcType="DECIMAL" />
    <result column="OPERATIONID" property="operationid" jdbcType="DECIMAL" />
    <result column="OPERATIONIP" property="operationip" jdbcType="VARCHAR" />
    <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP" />
    <result column="STATUSCODE" property="statuscode" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, BANKCODE, COMPANYID, ACCOUNTCODE, VIRTUALACCOUNT, TOTALMONEY, OPERATIONID, OPERATIONIP, 
    CREATETIME, STATUSCODE, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from REC_VIRTUALACCOUNT
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from REC_VIRTUALACCOUNT
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.juhuawang.model.VirtualAccount" >
    insert into REC_VIRTUALACCOUNT (ID, BANKCODE, COMPANYID, 
      ACCOUNTCODE, VIRTUALACCOUNT, TOTALMONEY, 
      OPERATIONID, OPERATIONIP, CREATETIME, 
      STATUSCODE, MEMO)
    values (#{id,jdbcType=DECIMAL}, #{bankcode,jdbcType=VARCHAR}, #{companyid,jdbcType=DECIMAL}, 
      #{accountcode,jdbcType=VARCHAR}, #{virtualaccount,jdbcType=VARCHAR}, #{totalmoney,jdbcType=DECIMAL}, 
      #{operationid,jdbcType=DECIMAL}, #{operationip,jdbcType=VARCHAR}, #{createtime,jdbcType=TIMESTAMP}, 
      #{statuscode,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.juhuawang.model.VirtualAccount" >
    insert into REC_VIRTUALACCOUNT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="bankcode != null" >
        BANKCODE,
      </if>
      <if test="companyid != null" >
        COMPANYID,
      </if>
      <if test="accountcode != null" >
        ACCOUNTCODE,
      </if>
      <if test="virtualaccount != null" >
        VIRTUALACCOUNT,
      </if>
      <if test="totalmoney != null" >
        TOTALMONEY,
      </if>
      <if test="operationid != null" >
        OPERATIONID,
      </if>
      <if test="operationip != null" >
        OPERATIONIP,
      </if>
      <if test="createtime != null" >
        CREATETIME,
      </if>
      <if test="statuscode != null" >
        STATUSCODE,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="bankcode != null" >
        #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        #{companyid,jdbcType=DECIMAL},
      </if>
      <if test="accountcode != null" >
        #{accountcode,jdbcType=VARCHAR},
      </if>
      <if test="virtualaccount != null" >
        #{virtualaccount,jdbcType=VARCHAR},
      </if>
      <if test="totalmoney != null" >
        #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.juhuawang.model.VirtualAccount" >
    update REC_VIRTUALACCOUNT
    <set >
      <if test="bankcode != null" >
        BANKCODE = #{bankcode,jdbcType=VARCHAR},
      </if>
      <if test="companyid != null" >
        COMPANYID = #{companyid,jdbcType=DECIMAL},
      </if>
      <if test="accountcode != null" >
        ACCOUNTCODE = #{accountcode,jdbcType=VARCHAR},
      </if>
      <if test="virtualaccount != null" >
        VIRTUALACCOUNT = #{virtualaccount,jdbcType=VARCHAR},
      </if>
      <if test="totalmoney != null" >
        TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      </if>
      <if test="operationid != null" >
        OPERATIONID = #{operationid,jdbcType=DECIMAL},
      </if>
      <if test="operationip != null" >
        OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="statuscode != null" >
        STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.juhuawang.model.VirtualAccount" >
    update REC_VIRTUALACCOUNT
    set BANKCODE = #{bankcode,jdbcType=VARCHAR},
      COMPANYID = #{companyid,jdbcType=DECIMAL},
      ACCOUNTCODE = #{accountcode,jdbcType=VARCHAR},
      VIRTUALACCOUNT = #{virtualaccount,jdbcType=VARCHAR},
      TOTALMONEY = #{totalmoney,jdbcType=DECIMAL},
      OPERATIONID = #{operationid,jdbcType=DECIMAL},
      OPERATIONIP = #{operationip,jdbcType=VARCHAR},
      CREATETIME = #{createtime,jdbcType=TIMESTAMP},
      STATUSCODE = #{statuscode,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>