/* CSS Document */

body{min-width:1200px; margin:0px; padding:0px;}
/*主体*/
.content{width:1200px; height:auto;  margin:0 auto;  /*background:#FCC;*/}


/*右侧展示*/
.R-show{ width:1000px; height:auto; float:left;margin-top: 10px; margin-left:20px; margin-bottom:100px; /*background:#FCF;*/}
	.R-BT{width:100%; height:40px; padding-left:30px; border-bottom:1px solid #1caaeb; }
		.R-BT-1{ width:50%; height:40px; line-height:40px; text-align:left; float:left; font-size:18px; font-family:"微软雅黑"; color: #1caaeb; letter-spacing:1px;}
		.R-BT-2{ width:50%; height:40px; line-height:40px; text-align:right; float:left; letter-spacing:1px; padding-right:4px;}
			.R-BT-2 a{font-size:14px; font-family:"微软雅黑"; color: #1caaeb; text-decoration:none;}
			
	
	/*�?*/
	.ZONG{width:1000px; height:auto; float:left; overflow:hidden; /*background:#FFC;*/}/*浅黄*/
		.xgmm{ width:1000px; height:30px; line-height:30px; text-align:left; float:left; margin-top:18px;  padding-left:30px; margin-bottom:24px; background:#EEEEEE; font-size:14px; font-family:"微软雅黑"; color:#585858;background:#EEEEEE;}
		/*两种验证切换*/
		.Xzyz{ width:910px; height:170px; float:left; margin-left:20px; /*background:#C63;*/}
			.Xzyz-1{width:455px; height:170px; float:left;  /*border:1px solid #B6CCDF;*/ }
				.Xzyz-1-1{width:455px; height:170px; float:left;  border:1px solid #E7E7E7;}
				.Xzyz-1-2{width:455px; height:170px; float:left;   border:1px solid #B6CCDF; background:#F8F9FD;}
			.Xzyz-2{width:455px; height:170px; float:left; /* border:1px solid #E7E7E7;*/ }
				.Xzyz-2-1{width:455px; height:170px; float:left; border:1px solid #E7E7E7; }
				.Xzyz-2-2{width:455px; height:170px; float:left; border:1px solid #B6CCDF; background:#F8F9FD;  }
		
					.Xzyz-1-1-1{width:455px; height:54px; margin-top:58px; float:left; }
						.Xzyz-1-1-1-1{width:44px; height:54px; margin-left:50px; float:left;}
						.Xzyz-1-1-1-2{width:360px; height:30px; line-height:20px; text-align:left; float:left; padding-left:30px; font-size:20px; font-family:"微软雅黑"; color:#666; letter-spacing:1px;}
						.Xzyz-1-1-1-3{width:360px; height:24px; line-height:30px; text-align:left; float:left; padding-left:30px; font-size:14px; font-family:"微软雅黑"; color:#666; letter-spacing:1px;}
			
		
		
		/*填写验证*/
		.txyz{width:1000px; height:420px; float:left; padding-top:80px; /*background:#FC9;*/}
			.txyz-1{width:1000px; height:40px; float:left; margin-bottom:15px; /*background:#0CF;*/}
				.txyz-1-1{ width:300px; height:40px; line-height:40px; text-align:right; float:left;font-size:16px; font-family:"微软雅黑"; color:#666; margin-right:20px;}
				.txyz-1-2{ width:312px; height:40px; line-height:40px; text-align:left; float:left; }
					.txyz-sa{font-size:16px; font-family:"微软雅黑"; color:#666;}
			.txyz-2{width:1000px; height:40px; float:left; margin-bottom:15px; /*background:#0CF;*/}
				.txyz-2-1{ width:300px; height:40px; line-height:40px; text-align:right; float:left;font-size:16px; font-family:"微软雅黑"; color:#666; margin-right:20px; /*background:#CCF;*/}
				.txyz-2-2{ border:0px; width:312px; height:40px; text-align:left; float:left; margin-right:10px; border:1px solid #E7E7E7;}
				.txyz-2-3{ width:120px; height:40px; line-height:40px; text-align:center; float:left; border:1px solid #D6D4AB; background:#F0F8E9;}
					.txyz-2-3 a, .txyz-2-3 a:hover{font-size:14px; text-decoration:none;}
		
				.txyz-3-2{ width:114px; height:40px; line-height:40px; text-align:center; font-size:18px; font-family:"微软雅黑"; color:#FFF; background: #1caaeb;
					-moz-border-radius:4px; -webkit-border-radius:4px; border-radius:4px; overflow:hidden; cursor:pointer;  border:0px;
				}
		
		
		
		
		
		
		
		