/* CSS Document */

body {
    min-width: 1200px;
    margin: 0px;
    padding: 0px;
}

/*主体*/
.content {
    width: 1200px;
    height: auto;
    margin: 0px auto; /*background:#FCC;*/
}



/*右侧展示*/
.R-show {
    width: 1000px;
    height: auto;
    float: left;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 100px; /*background:#FCF;*/
}

.R-BT {
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    padding-left: 30px;
    border-bottom: 1px solid #1CAAEB;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #1CAAEB;
    letter-spacing: 1px;
}



/*�?*/
.ZONG {
    width: 1000px;
    height: auto;
    float: left;
    overflow: hidden; /*background:#FFC;*/
}

/*浅黄*/
.Aqjb {
    width: 1000px;
    height: 30px;
    float: left;
    padding-left: 30px;
    margin-top: 18px;
    background: #EEEEEE;
}

.Aqjb-1 {
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    font-size: 16px;
    font-family: "微软雅黑";
    color: #000;
}

.Aqjb-2 {
    width: 120px;
    height: 10px;
    float: left;
    margin-top: 11px;
    background: #FFF;
}

.Aqjb-2-1 {
    width: 60px;
    height: 10px;
    float: left;
    background: #1CAAEB;
}

.Aqjb-2-2 {
    width: 60px;
    height: 10px;
    float: left;
    background: #FFF;
}

.Aqjb-3 {
    width: 40px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 14px;
    float: left;
}

.Aqjb-sa1 {
    font-size: 12px;
    font-family: "微软雅黑";
    color: #1CAAEB;
}

.Aqjb-4 {
    width: 660px;
    height: 30px;
    line-height: 30px;
    text-align: left;
    float: left;
    overflow: hidden;
    letter-spacing: 1px;
}

/*登录密码*/
.dlmm {
    width: 900px;
    height: 100px;
    float: left;
    margin-left: 25px;
    border-bottom: 1px solid #E7E7E7;
}

.dlmm-1 {
    width: 870px;
    height: 40px;
    margin-top: 30px;
    float: left;
    margin-left: 15px; /*background:#6CC;*/
}

.dlmm-1-1 {
    width: 34px;
    height: 32px;
    margin-top: 4px;
    float: left;
    margin-right: 40px;
}

.dlmm-1-2 {
    width: 86px;
    height: 40px;
    line-height: 38px;
    text-align: left;
    float: left;
    font-size: 18px;
    font-family: "微软雅黑";
    color: #000; /*background:#0C3;*/
}

.dlmm-1-3 {
    width: 16px;
    height: 16px;
    float: left;
    margin-top: 10px;
    margin-right: 40px; /*background:#000;*/
}

.dlmm-1-4 {
    width: 500px;
    height: 40px;
    line-height: 38px;
    text-align: left;
    float: left;
    overflow: hidden;
    margin-right: 60px;
}

.dlmm-sa1 {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #FF6600;
}

.dlmm-sa2 {
    font-size: 14px;
    font-family: "微软雅黑";
    color: #999;
}

.dlmm-1-5 {
    width: 87px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    margin-top: 4px;
    float: left;
    background: url(../imagess/images/an.jpg) no-repeat;
}

.dlmm-1-5 a {
    font-size: 14px;
    font-family: "微软雅黑";
    text-decoration: none;
}

.dlmm-1-5 a:hover {
    font-size: 14px;
    font-family: "微软雅黑";
    text-decoration: none;
}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		