/* CSS Document */

.auto-style1 {
    width: 48px;
}

body {
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

/*------------����-----------------*/
.content {
    margin: 0 auto;
    width: 1200px;
    overflow: hidden;
    margin-bottom: 50px;
}

.grid_5 {
    float: left;
    width: 140px;
    margin: 0px;
}


.header.base {
    padding-top: 0;
}

.product-list.base {
    width: auto;
    margin-top: 0;
}

.order-sertype-con .base {
    padding: 0 20px;
}

.grid_20 {
    float: left;
    width: 1000px;
    margin-top: 10px;
    margin-left: 50px;
    padding-bottom: 20px;
}

.uibox-head-order {
    height: 45px;
    background-color: #fbfbfb;
    border-bottom: 1px solid #f26604;
}

.titbase {
    padding-left: 22px;
    height: 45px;
    line-height: 45px;
    font-size: 18px;
    color: #f26604;
}

.titbase.fontsm {
    font-size: 16px;
    padding-left: 20px;
}

.titbase.displine {
    float: left;
}

.titbase .fb {
    font-size: 12px;
    color: #939292;
    padding-left: 20px;
}

.uibox-order {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.formsendcon-f {
    position: relative;
    width: 1000px;
    overflow: hidden;
}

.formsendcon-f.full {
    width: 1200px;
}

.order-tab {
    position: absolute;
    top: 0;
    left: 0;
    width: 780px;
    height: 35px;
    z-index: 1;
}

.order-tab li {
    float: left;
    margin-right: 2px;
}

.order-tab li a {
    display: block;
    padding: 0 5px;
    min-width: 90px;
    height: 35px;
    line-height: 35px;
    background-color: #eee;
    font-size: 16px;
    text-align: center;
    color: #282828;
}

.order-tab li.current a {
    height: 42px;
    background: url("../../images/pc/A_public/tabbg.png") center top;
    color: #fff;
}

.order-tab li a:hover {
    text-decoration: none;
}

.uibox-con {
    float: left;
    margin-top: 35px;
    padding: 20px 0 0px 0;
    width: 1000px;
    min-height: 398px;
}

.form-con-tb td {
    padding: 8px;
    font-size: 14px;
}

.text-cen td, .text-cen th, .text-cen-none th, .text-cen-none td {
    padding: 10px 8px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}


