/* CSS Document */

/*头部*/
body {
    margin: 0px;
    padding: 0px;
}
.select2-disabled{
    font-size: 16px;
    font-weight:bold;
}
.select2-disabled2{
    font-size: 14px;
}
.zhongti {
    width: 100%;
    height: auto;
    position: relative;
    max-width: 640px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0px;
    background-size: 100% 100%;
}

.v2 {
    width: 100%;
    height: 50px;
    background: #009fe8;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    color: #FFFFFF;
    background-size: 100% 100%;
    overflow: hidden;
    letter-spacing: 4px;
}

.v2-1 {
    width: 24px;
    height: 50px;
    background: #FF0000;
    margin-left: 18px;
    padding: 0px;
    float: left;
    background: transparent url(../personalCenter/icon.png) no-repeat scroll 0px -335px;
}

.v2-3 {
    width: 24px;
    height: 50px;
    background: #FF0000;
    margin-right: 22px;
    padding: 0px;
    float: right;
    background: transparent url(../personalCenter/icon.png) no-repeat scroll 0px -382px;
}

/*头部隐藏菜单栏*/
.top-dh {
    width: 100%;
    height: 58px;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.top-dh-1 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-1-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px 5px;
}

.top-dh-2 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-2-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -76px;
}

.top-dh-3 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-3-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -156px;
}

.top-dh-4 {
    width: 25%;
    height: 58px;
    float: left;
}

.top-dh-4-1 {
    width: 44px;
    height: 52px;
    margin: 0 auto;
    background: transparent url(../personalCenter/icon2.png) no-repeat scroll 0px -240px;
}

.too1 {
    width: 42px;
    height: 50px;
}

/*底线*/
.dx {
    width: 100%;
    clear: left;
    border-bottom: 1px solid #AAAAAA;
}

/*牌号*/
.paihao {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    clear: left; /* background:#3399FF;*/
}

.paihao-1 {
    width: 30%;
    height: 40px;
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    color: #333;
    float: left;
    overflow: hidden; /*background:#009999;*/
}

.paihao-2 {
    width: 70%;
    height: 40px;
    line-height: 40px;
    text-align: left;
    float: left;
    color: #333;
    overflow: hidden; /*background:#6699FF;*/
}

.text1 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*分类*/
.text2 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*用途级别*/
.text3 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*生产商*/
.text4 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*产地*/
.text5 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*单位*/
.text6 {
    margin: auto;
    font-size: 14px;
    color: #666;
    margin-top: 1px;
}

/*价格*/
.text7 {
    margin: auto;
    font-size: 14px;
    color: #666;
}

/*描述*/
.miaos {
    width: 100%;
    height: 120px;
    margin-top: 20px;
    clear: left; /*background:#3399FF;*/
}

.miaos-1 {
    width: 30%;
    height: 120px;
    line-height: 40px;
    text-align: right;
    font-size: 16px;
    color: #333;
    float: left;
    overflow: hidden; /*background:#009999;*/
}

.miaos-2 {
    width: 70%;
    height: 120px;
    line-height: 40px;
    text-align: left;
    float: left;
    overflow: hidden; /*background:#6699FF;*/
}

.ms-1 {
    float: left;
    width: 70%;
    height: 96px;
    font-size: 14px;
    color: #666;
}

/*立即发布*/
.tjkc {
    width: auto;
    height: 40px;
    margin: 30px 22px 30px 22px;
}

.tjkc-1 {
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0px auto;
    background-color: #4C9ED9;
    border: 0px;
    cursor: pointer;
}

.tjkc-1 a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.tjkc-1 a:hover {
    color: #EB6100;
}

/*底线*/
.dx2 {
    width: 100%;
    clear: left;
    margin-top: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #AAAAAA;
}

/*底部*/
.dib {
    width: auto;
    height: 150px;
    padding: 14px 22px 0px 22px;
    background: #F4F4F4;
}

.tuic {
    width: auto;
    height: 44px;
    line-height: 44px;
    text-align: center;
    background: #EB6100;
    margin-bottom: 44px;
    overflow: hidden;
    letter-spacing: 8px;
}

.tuic a {
    font-size: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.tuic a:hover {
    color: #009fe8;
}

.wz {
    width: auto;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 14px;
    color: #666666;
    background: #E2E2E2;
    overflow: hidden;
}

